@model PatientDetails.ViewModel.Patientviewmodel
<html>
<head>
    <script src="../../Scripts/prototype.js" type="text/javascript"></script>
</head>
<body onload="Hidden()">
    <script>
          function Hidden() {
              $('Show').hide();
          }
    </script>
    <div id="Show" style="display: block">
        <table id="Hide" border="1" width="20%">
            @foreach (var item in Model.Patients)
            {
                <tr>
                    <td width="50%">
                        Name: @item.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        Adress:@item.Address
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        Contact No: @item.Contactno
                    </td>
                </tr>
                <tr>
                    <td>
                        DOB:@item.Dob
                    </td>
                </tr>
                <tr>
                    <td>
                        City:@item.City
                    </td>
                </tr>
              
            }
        </table>
    </div>
</body>
